@keyframes pop-up{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(0.5);
    }
    88%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

.otpScreen{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.otpScreen .titleDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 8px;
}

.otpScreen>h2{
    font-size: 1em;
    letter-spacing: .5px;
}

.emailDiv{
    width: 100%;
    margin-bottom: 16px;
}

.email{
    color: var(--accent);
}

.otpScreen>h5,
.timer>h5{
    font-size: 0.8em;
    color: var(--text-secondary);
}

.timer>h5>span{
    color: var(--warning);
}

.timer .expired{
    font-size: 0.8em;
    color: var(--warning);
}

.inputsContainer{
    width: 100%;
    height: auto;
    display: grid !important;
    grid-template-columns: repeat(6, 1fr) !important;
    margin: 8px !important;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.inputsContainer input:nth-child(1){
    animation: pop-up .5s ease 0s 1 forwards;
}

.inputsContainer input:nth-child(2){
    animation: pop-up .5s ease .05s 1 forwards;
}

.inputsContainer input:nth-child(3){
    animation: pop-up .5s ease .1s 1 forwards;
}

.inputsContainer input:nth-child(4){
    animation: pop-up .5s ease .15s 1 forwards;
}

.inputsContainer input:nth-child(5){
    animation: pop-up .5s ease .2s 1 forwards;
}

.inputsContainer input:nth-child(6){
    animation: pop-up .5s ease .25s 1 forwards;
}

.otpInput{
    width: 16px !important;
    height: 16px !important;
    padding: 16px !important;
    margin: 0 !important;
    background-color: var(--card-bg);
    border-radius: 8px;
    border: 1px solid var(--border);
    outline: none;

    text-align: center;
    font-size: 1.25em;
    caret-color: var(--text-primary);
    color: var(--text-primary);
}

.verifyBtn{
    width: 100%;
    background-color: var(--primary);
    color: var(--button-text);
    padding: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 8px;
} .verifyBtn:disabled{
    cursor: not-allowed;
    background-color: var(--card-bg);
    color: var(--text-secondary);
}

.resendInfo{
    width: (100% - 16px);
    padding: 8px;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resendInfo>button{
    color: var(--accent);
    background-color: transparent;
    border: none;
    outline: none;
}

.resendInfo>p>span{
    color: var(--accent);
    font-size: 1.1em;
}

@media (max-width: 500px){
    /*  */
}