@keyframes reveal{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes slide-in{
    0%{
        transform: translate(50%, 0%);
        opacity: 0;
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

.roomsPage{
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.mainLayout{
    flex: 1;
    height: calc(100% - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 8px;
    padding-right: 9px;
    padding-bottom: 16px;

    overflow-x: hidden;

    animation: slide-in .4s ease-out 0s 1 forwards;
}

.mainLayout .header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 8px;
}

.mainLayout .header .heading h2{
    color: var(--text-primary);
}

.mainLayout .header .heading p{
    color: var(--text-secondary);
}

.mainLayout .body{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 24px;
}

.body .searchRooms{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border);
}

.searchRooms .searchBar{
    background-color: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 8px;
    flex: 1;
    height: auto;
    display: flex;
    transition: flex-basis 0.25s ease-out;
}

.searchBar div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 24px;
    padding: 8px;
}

.searchBar div i{
    color: var(--button-text);
}

.searchBar input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    caret-color: var(--text-primary);
    color: var(--text-primary);
    letter-spacing: 0.5px;
}

.searchRooms .filter{
    height: 32px;
    width: auto;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    background-color: var(--card-bg);
}

.searchRooms .filter button{
    background-color: transparent;
    height: 100%;
    width: auto;
    border-radius: 8px;
    border: none;
    color: var(--text-secondary);
    font-size: 0.75em;
}

.searchRooms .filter .activeBtn{
    background-color: var(--bg-light);
    color: var(--text-primary) !important;

    animation: reveal 0.2s ease-out 0s 1 forwards;
}

.rooms{
    padding: 16px;
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 22px;
}

/* Room Div Styles */
.roomDiv{
    height: auto;
    width: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-lighter);
    border: 1px solid var(--border-light);
    border-radius: 9px;
    padding: 24px;
    padding-bottom: 16px;
    margin-top: 8px;
    gap: 16px;

    animation: reveal 0.25s ease-in 0s 1 forwards;
}

.roomDiv .roomInfo{
    display: flex;
    width: calc(100% - 16px);
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    min-width: 0px;
}

.roomInfo .logo{
    height: 108px;
    width: 108px;
    border: 1px solid var(--border-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roomInfo .logo img{
    height: 108px;
    width: 108px;
    border-radius: 50%;
}

.roomInfo .details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 4px;
    width: 100%;
}

.roomInfo .details .info{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.roomInfo .details > h4{
    font-size: 0.85em;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
    max-width: calc(100% - 8px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roomInfo .details p{
    color: var(--text-secondary);
}

.roomDiv .options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.roomDiv .options div{
    height: 12px;
    width: 12px;
    font-size: 12px;
    padding: 4px;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-light);
}

.roomDiv .options button{
    background-color: var(--bg-light);
    border: 1px solid var(--border-light);
    border-radius: 8px;
    padding: 8px;
}

.roomDiv .options button span{
    color: var(--text-secondary);
    font-size: 0.85em;
}

.roomDiv .options button i{
    display: none;
}

.buttons{
    width: calc(100% - 16px);
    height: auto;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons button{
    flex: 1;
    border: 1px solid var(--border-light);
	padding: 8px;
    background-color: var(--bg-light);
    color: var(--button-text);
    border-radius: 8px;
}

.newRoomDiv{
    height: 100dvh;
    width: 100dvw;
    z-index: 99;
    position: fixed;
    top: 0px;
    bottom: 0px;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.loaderDiv{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loader{
    height: 40px;
    width: 40px;
    border: 4px solid var(--bg-light);
    border-top: 4px solid var(--border);
    border-radius: 50%;
    animation: loader 0.5s linear 0s infinite forwards;
}

/* Media Queries */
@media (max-width: 1920px){
    .rooms{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1595px){
    .rooms{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1275px){
    .rooms{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 955px){
    .rooms{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 830px){
    .rooms{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 795px){
    .rooms{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px){
    .header button span{
        display: none;
    }

    .body .searchRooms{
        flex-direction: column;
        align-items: flex-start;
    }

    .body .searchRooms .searchBar{
        width: 100%;
    }
}

@media (max-width: 560px){
    .header .heading p{
        display: none;
    }

    .roomsPage{
        flex-direction: column;
    }

    .mainLayout .body{
        align-items: center;
        justify-content: flex-start;
    }
}

/* @media (max-width: 470px){
    .searchBar input{
        display: none;
    }

    .body .searchRooms{
        flex-direction: row;
        align-items: flex-start;
    }

    .searchRooms .searchBar{
        flex: 0;
        width: auto;
    }
} */

@media (max-width: 390px){
    .rooms{
        gap: 8px;
        padding: 8px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .roomDiv{
        padding: 6px;
    }
}