.viewRoom{
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h5{
    margin: 0;
    color: var(--text-secondary);
}

.roomInfo{
    flex: 1;
    max-height: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 24px;
    padding-left: 8px;
    padding-right: 8px;

    overflow-y: auto;
    overflow-x: hidden;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    width: calc(100% - 32px);
    background-color: var(--bg);
}

.backBtn{
    background-color: transparent;
    border: none;
    width: auto;
    height: 100%;
    cursor: pointer;
}

.backBtn i, .backBtn span{
    color: #ff5f5f;
}

.leaveBtn{
    padding: 8px;
    background-color: var(--danger);
    color: var(--button-text);
    border: none;
    outline: none;
    border-radius: 8px;
}

.roomDisplay{
    width: calc(100% - 48px);
    height: auto;
    max-width: 800px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;

    border-bottom: 1px solid var(--border-light);
}

.wrappersWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.displayWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.otherInfo{
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
}

.otherInfo > h5 > span > i{
    color: var(--accent);
    cursor: pointer;
}

.otherInfo2{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.icon{
    height: 160px;
    width: 160px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    border: 1px solid var(--border-light);
}

.icon img{
    height: 160px;
    width: 160px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
}

.roomDetails{
    width: 100%;
    height: auto;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    padding-bottom: 16px;

    border-bottom: 1px solid var(--border-light);
}

.roomDesc{
    background-color: var(--bg-light);
    border-radius: 16px;
    border: 1px solid var(--border-light);
    width: calc(100% - 50px);
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

.roomDesc > h3 > i{
    color: var(--warning-light);
}

.members{
    margin-top: 8px;
    height: auto;
    width: 100%;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.members > h3{
    margin-bottom: 12px;
    margin-left: 24px;
}

.members .member{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: calc(100% - 32px);
    max-width: 850px;
    padding: 6px;
    padding-left: 16px;
    padding-right: 16px;
    
    border: 1px solid var(--border-light);
    border-radius: 16px;

    cursor: pointer;
}

.member .adminTag{
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.adminTag .amAdmin{
    border-radius: 8px;
    background-color: var(--warning-bg);
    color: var(--warning-light);
    font-size: 12px;
    padding: 6px;
}

.members .member > img{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.buffer{
    height: 200px;
}