.viewRoom{
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h5{
    margin: 0;
    color: var(--text-secondary);
}

.roomInfo{
    flex: 1;
    max-height: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 24px;
    padding-left: 8px;
    padding-right: 8px;

    overflow-y: auto;
    overflow-x: hidden;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    width: calc(100% - 32px);
    background-color: var(--bg);
}

.backBtn{
    background-color: transparent;
    border: none;
    width: auto;
    height: 100%;
    cursor: pointer;
}

.backBtn i, .backBtn span{
    color: #ff5f5f;
}

.roomDisplay{
    width: calc(100% - 48px);
    height: auto;
    max-width: 800px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
}

.otherInfo{
    display: flex;
    flex-direction: row;
    min-width: 150px;
    max-width: 200px;
    align-items: center;
    justify-content: space-between;
}

.icon{
    height: 160px;
    width: 160px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.icon img{
    height: 160px;
    width: 160px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
}

.roomDetails{
    width: 100%;
    flex: 1;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.roomDesc{
    width: calc(100% - 50px);
    padding: 24px;
    padding-top: 8px;
    padding-bottom: 8px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

.roomDesc > h3 > i{
    color: var(--accent);
}

.buffer{
    height: 300px;
}