/* Main Div Wrappers */
.messageDiv,
.fileDiv {
    margin: 0;
    height: auto;
    width: calc(100% - 16px);
    padding: 4px 8px;
}

/* Sender message and file wrapper */
.senderMsg, 
.senderFile {
    margin: 0;
    padding: 0px;
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* My message and file wrapper */
.myMsg,
.myFile {
    margin: 0;
    padding: 0px;
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Avatar styles */
.senderMsg>img,
.myMsg>img,
.senderFile>img,
.myFile>img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/* Sender Avatar */
.senderMsg>img,
.senderFile>img {
    margin-right: 8px;
}

/* My avatar */
.myMsg>img,
.myFile>img {
    margin-left: 8px;
}

/* Message & File div styles */
.senderMsg .message,
.myMsg .message,
.senderFile .file,
.myFile .file {
    width: auto;
    height: auto;
    padding: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 8px;
    border-radius: 8px;
    max-width: 56%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap; 
}

/* Sender message & file div styles */
.senderMsg .message,
.senderFile .file{
    background-color: var(--accent);
    color: var(--text-primary);
}

/* My message & file div styles */
.myMsg .message,
.myFile .file {
    background-color: var(--card-bg);
    color: var(--button-text);
}

/* Message text styles */
.message>p,
.senderFile .file .fileInfo>h3,
.myFile .file .fileInfo>h3 {
    flex: 1;
    padding: 4px;
    font-size: 0.85em;
    letter-spacing: 0.85px;
    line-height: 1.4;
    word-break: break-word;
}

/* Message time styles */
.message .time,
.file .time {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: auto;
    height: auto;
}

.myMsg .time>p,
.file .time>p {
    font-size: 0.6em;
    letter-spacing: 0.5px;
    color: var(--text-secondary);
    opacity: 0.85;
}

.senderMsg .message .time>p,
.senderFile .file .time>p {
    font-size: 0.6em;
    letter-spacing: 0.5px;
    color: var(--primary-light);
}

/* File info block (inside file div) styles */
.senderFile .file .fileInfo,
.myFile .file .fileInfo{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

/* File icon styles */
.icon{
    background-color: var(--file-icon-bg);
    padding: 8px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 24px;
    width: 24px;
}

.icon i{
    color: var(--icon-fg);
    font-size: 1.2em;
}

.senderFile .file .fileInfo,
.myFile .file .fileInfo{
    cursor: pointer;
}

.messageLoader{
    font-size: 0.75em;
    color: var(--text-secondary);
}

/* Media Queries */
@media (max-width: 630px) {
    .messageDiv,
    .fileDiv {
        margin: 0;
        height: auto;
        width: calc(100% - 4px);
        padding: 2px;
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .myMsg > img,
    .myFile > img{
        margin-left: 4px;
    }

    .senderMsg > img,
    .senderFile > img{
        margin-right: 4px;
    }
}