.mainDiv{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

@keyframes load-animation{
    0%{
        transform: rotate(0deg);
    } 100%{
        transform: rotate(360deg);
    }
}

.loaderCircle{
    height: 108px;
    width: 108px;
    border-radius: 50%;
    border: 6px solid var(--bg-light);
    border-top: 6px solid var(--text-secondary);
    animation: load-animation .75s infinite linear forwards;
}