@keyframes jump{
    0%{
        transform: translate(0%, 0%);
        background-color: var(--accent);
    }
    30%{
        transform: translate(0%, -100%);
        background-color: var(--text-secondary);
    }
    55%{
        transform: translate(0%, 0%);
        background-color: var(--card-bg);
    }
    75%{
        transform: translate(0%, 100%);
        background-color: var(--primary-bg);
    }
}

.loader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.beads{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: var(--accent);
    transition: background-color 1s ease-in-out;
    will-change: transform;
}

.bead1{
    animation: jump 1.25s 0s ease infinite;
}

.bead2{
    animation: jump 1.25s .45s ease infinite;
}

.bead3{
    animation: jump 1.25s 0s ease infinite reverse;
}