@keyframes slide-in {
    0% {
        transform: translate(50%, 0%);
        opacity: 0;
    }

    100% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes btn-reveal{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes reveal {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
    }

    75% {
        transform: translate(-50%, -50%) scale(1.05);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes reveal-mobile {
    0% {
        transform: translate(0%, 0%) scale(0.8);
    }

    75% {
        transform: translate(0%, 0%) scale(1.05);
    }

    100% {
        transform: translate(0%, 0%) scale(1);
    }
}

.friendsMain {
    width: 100%;
    height: 100dvh;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    overflow-x: hidden;
}

.body {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;

    overflow-x: hidden;
    overflow-y: hidden;

    animation: slide-in .4s ease-out 0s 1 forwards;
}

.header {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.header>div {
    width: calc(100% - 32px);
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.header>div>button {
    background-color: transparent;
    border: none;
}

.header>div>button>i {
    color: var(--accent);
    font-size: 1.16em;
}

.header .searchBar {
    background-color: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 8px;
    height: auto;
    width: calc(100% - 34px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    margin: 4px 16px 0px;
}

.header .searchBar div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 16px;
    width: 24px;
    padding: 8px;
}

.header .searchBar div i {
    color: var(--button-text);
}

.header .searchBar input {
    height: 24px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;

    caret-color: var(--text-primary);
    color: var(--text-primary);

    letter-spacing: 0.5px;
}

.divider {
    width: calc(100% - 32px);
    border: 1px solid var(--border-light);
    margin: 0px 16px;
}

.friendsList {
    width: calc(100% - 32px);
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    margin: 0px 16px;
}

.modalOverlay {
    position: fixed;

    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modalBox{
    min-width: 32rem;
    height: 65dvh;
    max-height: 280px;
    min-height: 160px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--bg-lighter);
    border-radius: 12px;
    padding: 16px;

    box-shadow: 0 0 40px var(--shadow);
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;

    animation: reveal 0.25s ease-out 0s 1 forwards;
}

.tabs{
    height: 32px;
    width: calc(100% - 2px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;

    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 0;
    background-color: var(--card-bg);
}

.tabs>button{
    background-color: transparent;
    height: 100%;
    flex: 1;
    border-radius: 8px;
    border: none;
    color: var(--text-secondary);
    font-size: 0.75em;
}

.tabs .activeTab{
    background-color: var(--bg-light);
    color: var(--text-primary) !important;

    animation: btn-reveal 0.2s ease-out 0s 1 forwards;
}

.requestsList{
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;

    overflow-y: auto;
}

.requestItem{
    width: calc(100% - 34px);
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px 16px;
    background-color: var(--bg);
    border-radius: 8px;
    border: 1px solid var(--border-light);
}

.requestItem>div{
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.userInfo>img{
    height: 48px;
    width: 48px;
    
    border-radius: 50%;
    object-fit: cover;
    display: block;
    object-position: center;
}

.requestItem>div>button{
    padding: 8px;
    border: 1px solid var(--border-light);
    border-radius: 8px;
}

.emptyState{
    width: 100%;
    height: calc(100% - 8px);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 8px;
}

/* Media Queries */
@media (max-width: 610px){
    .modalBox{
        min-width: 24rem;
    }
}

@media (max-width: 560px) {
    .friendsMain {
        flex-direction: column;
    }

    .body {
        width: 100%;
    }
}

@media (max-width: 450px){
    .modalBox{
        min-width: 20rem;
    }
}

@media (max-width: 370px){
    .modalBox{
        min-width: calc(100% - 32px);
        min-height: calc(100% - 32px);

        max-width: 100dvw;
        max-height: 100dvh;

        border-radius: 0px;
        background-color: var(--bg);
    }
}