@keyframes reveal {
    0% {
        transform: translate(0%, 0%) scale(0.8);
    }

    75% {
        transform: translate(0%, 0%) scale(1.05);
    }

    100% {
        transform: translate(0%, 0%) scale(1);
    }
}

@keyframes slide-bottom{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0%);
	}
}

@keyframes slide-top{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(100%);
	}
}

.generalScreen {
    height: 100dvh;
    width: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.generalScreen h1 {
    font-size: 1.2em;
    color: var(--text-primary);
    letter-spacing: 0.7px;
}

.generalScreen h3 {
    font-size: 0.95em;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 48px);
    background-color: var(--bg);
    z-index: 999;

    animation: slide-bottom 0.25s ease 0s 1 forwards;
}

.backBtn {
    background-color: transparent;
    border: none;
    width: auto;
    height: 100%;
    cursor: pointer;
}

.backBtn i,
.backBtn span {
    color: #ff5f5f;
}

.infoWrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 88px;
    padding-bottom: 112px;

    animation: reveal 0.25s ease 0s 1 forwards;
}

.hospitalInfo,
.contactInfo {
    width: calc(100% - 48px);
    max-width: 828px;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    padding: 24px;
    background-color: var(--bg-light);
    border: 1px solid var(--border);
    border-radius: 16px;
}

.hospitalInfo h3,
.contactInfo h3 {
    font-size: 0.95em;
    color: var(--text-primary);
    letter-spacing: 0.6px;
    margin: 12px;
}

.hospitalInfo div,
.contactInfo div {
    width: calc(100% - 40px);
    height: auto;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.hospitalInfo .logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: auto;
    gap: 3rem;
}

.hospitalInfo .logoDiv {
    margin: 0;
    padding: 0;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    background-color: var(--card-bg);
}

.hospitalInfo .logoDiv img {
    height: 96px;
    width: 96px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.hospitalInfo .logoContainer button {
    width: auto;
    height: auto;
    background-color: var(--primary);
    border: none;
    border-radius: 8px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: var(--button-text);
    cursor: pointer;
}

.generalScreen .whenNarrow {
    display: none;
}

.hospitalInfo h5,
.contactInfo h5 {
    font-size: 0.8em;
    letter-spacing: 0.5px;
    color: var(--text-secondary);
    margin: 0;
}

.hospitalInfo input,
.contactInfo input,
.hospitalInfo textarea {
    width: calc(100% - 24px);
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 12px;
    background-color: var(--card-bg);
    caret-color: var(--text-primary);
    color: var(--text-primary);
    font-family: Arial, Helvetica, sans-serif;
}

.hospitalInfo label {
    font-size: 0.8em;
    letter-spacing: 0.5px;
    color: var(--text-secondary);
    margin: 0;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    padding: 24px;
    padding-right: 32px;
    background-color: var(--bg-light);
    border-top: 1px solid var(--border-light);
    z-index: 999;

    animation: slide-top 0.25s ease 0s 1 reverse;
}

.actions .cancel {
    background-color: transparent;
}

.actions .cancel:hover {
    background-color: var(--danger);
}

.actions button {
    width: auto;
    height: auto;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    color: var(--button-text);
}

.actions button:disabled {
    background-color: var(--accent);
    opacity: 0.8;
    cursor: not-allowed;
}

.actions button:active {
    background-color: var(--accent);
    opacity: 0.8;
}

.contactInfo .visibility {
    display: flex;
    flex-direction: row;
}

.contactInfo .visibility>label,
.visibility>h5 {
    width: auto;
    margin-right: 24px;
}

.contactInfo .visibility>div {
    width: auto;
    display: flex;
    flex-direction: row;
}

.contactInfo .visibility>div>input {
    margin: 0;
}

/* Media Queries */
@media (max-width: 600px) {
    .generalScreen {
        padding: 0px;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .header {
        border-bottom: 1px solid var(--border-light);
    }

    .generalScreen,
    .generalScreen div {
        background-color: var(--bg-light);
    }

    .generalScreen input,
    .generalScreen textarea {
        border: 1px solid var(--border);
    }

    .infoWrapper {
        width: 100%;
        padding: 0px;
        padding-top: 96px;
        padding-bottom: 120px;
        gap: 8px;
    }

    .hospitalInfo,
    .contactInfo {
        width: calc(100% - 16px);
        padding: 8px;
        border: none;
    }

    .hospitalInfo>div,
    .contactInfo>div {
        width: calc(100% - 16px);
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 0px;
    }

    .hospitalInfo>input,
    .contactInfo>input,
    .hospitalInfo>textarea {
        width: 100%;
    }
}

@media (max-width: 440px) {
    .generalScreen .whenWide {
        display: none;
    }

    .generalScreen .whenNarrow {
        display: block;
    }

    .hospitalInfo .logoContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: auto;
        height: auto;
        gap: 3rem;
    }

    .bufferDiv {
        display: block;
    }
}

@media(max-width: 355px) {
    .generalScreen div {
        background-color: var(--bg);
    }
}