.textControls {
    height: auto;
    padding-top: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 6px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: calc(100% - 44px);
    margin-left: 16px;
    margin-right: 16px;

    flex-shrink: 0;

    background-color: var(--bg-lighter);
    border-radius: 16px;
}

.textControls>button {
    width: auto;
    height: auto;
    padding: 8px;
    background-color: transparent;
    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.textControls>button>i {
    color: var(--text-primary);
    font-size: 1.3em;
    font-weight: 600;
}

.textControls .emojis>i {
    color: var(--warning);
}

.textControls .files>i {
    color: var(--text-secondary);
}

.textControls .send {
    background-color: var(--accent);
    padding: 12px;
    border-radius: 8px;
}

.textControls .send>i {
    color: var(--button-text);
    font-size: 1.15em;
}

.textControls>textarea {
    flex: 1;
    width: calc(100% - 32px);
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: var(--bg-light);
    border: 1px solid var(--border-light);
    border-radius: 8px;
    outline: none;
    caret-color: var(--text-primary);
    color: var(--text-primary);
    letter-spacing: 0.5px;

    resize: none;
    max-height: 150px;
    line-height: 1.4;
}

.textControls>textarea::placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}