.chatpage {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    min-height: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    overflow-x: hidden;
}

.chatContext {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.chatWindow {
    flex: 1;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.roomControlBar {
    width: calc(100% - 32px);
    height: 56px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.room_info {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.room_info>img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid var(--border-light);
    object-fit: cover;
    object-position: center;
}

.roomControlBar>button {
    width: 48px;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding-right: 16px;
}

.roomControlBar .backBtn {
    background-color: transparent;
    border: none;
    width: auto;
    height: 100%;
    cursor: pointer;
}

.backBtn i {
    color: #ff5f5f;
}

.roomControlBar>button>i {
    font-size: 1.2em;
}

.chatContainer {
    flex: 1;
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    border: 1px solid var(--bg-lighter);
    max-height: 100%;
    overflow-y: auto;
}

.noMsgs {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textControls {
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: calc(100% - 40px);
    margin-left: 16px;
    margin-right: 24px;

    flex-shrink: 0;
}

.textControls>button {
    width: auto;
    height: auto;
    padding: 8px;
    background-color: transparent;
    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.textControls>button>i {
    color: var(--text-primary);
    font-size: 1.3em;
    font-weight: 600;
}

.textControls .emojis>i {
    color: var(--warning);
}

.textControls .files>i {
    color: var(--text-secondary);
}

.textControls .send {
    background-color: var(--accent);
    padding: 12px;
    border-radius: 8px;
}

.textControls .send>i {
    color: var(--button-text);
    font-size: 1.15em;
}

.textControls>textarea {
    flex: 1;
    width: calc(100% - 32px);
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: var(--bg-light);
    border: 1px solid var(--border-light);
    border-radius: 8px;
    outline: none;
    caret-color: var(--text-primary);
    color: var(--text-primary);
    letter-spacing: 0.5px;

    resize: none;
    max-height: 150px;
    line-height: 1.4;
}

.textControls>textarea::placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.emojiPicker {
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.roomContents {
    width: 14rem;
    height: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.roomContents>h3 {
    margin-bottom: 16px;
}

.pinnedMsgs,
.materials {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 8px;
}

/* Media Queries */
@media (max-width: 1120px) {
    .roomContents {
        display: none;
    }
}

@media (max-width: 630px) {
    .chatContainer {
        flex: 1;
        width: calc(100% - 16px);
        margin-left: 8px;
        margin-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 8px;
        border: 1px solid var(--bg-lighter);
    }
}

@media (max-width: 560px) {
    .chatpage {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .chatContext {
        flex: 1;
        width: 100%;
        min-height: 0;
    }

    .emojiPicker {
        margin-left: 4px;
        margin-right: 4px;
        width: calc(100% - 8px);
    }
}

@media (max-width: 490px) {
    .roomControlBar .roomOptions {
        display: none;
    }

    .roomControlBar{
        cursor: pointer;
    }

    .roomControlBar .room_info {
        gap: 8px;
        max-width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    .roomControlBar .room_info>h2 {
        word-break: break-word;
    }
}

@media (max-width: 380px) {
    .textControls>textarea {
        padding-left: 4px;
        padding-right: 4px;
    }

    .textControls {
        margin: 0px 16px 0px 8px;
    }
}