@keyframes reveal {
    0% {
        transform: translate(0%, 0%) scale(0.75);
        outline: none;
    }

    100% {
        transform: translate(0%, 0%) scale(1);
        outline: 1px solid var(--primary);
    }
}

@keyframes text-reveal {
    0% {
        color: var(--text-primary);
    }

    100% {
        color: var(--primary);
    }
}

/* Sidebar at left */
.sidebarAtLeft {
    height: 100dvh;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--bg-light);
    outline: 1px solid var(--border-light);
    position: static;
    top: 0px;
    left: 0px;
}

.sidebarAtLeft .userProfile {
    height: auto;
    width: calc(100% - 32px);
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    border-bottom: 1px solid var(--border-light);
    cursor: pointer;
}

.sidebarAtLeft .userProfile .logo {
    height: 56px;
    width: 56px;
    background-color: var(--bg-lighter);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    color: var(--text-secondary);
    border: 1px solid var(--border-light);
}

.sidebarAtLeft .userProfile .logo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    object-position: center;
}

.sidebarAtLeft .userProfile .userDetails {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.sidebarAtLeft .userProfile .userDetails h4 {
    font-size: 0.85em;
    color: var(--text-primary);
    letter-spacing: 0.25px;
}

.sidebarAtLeft .userProfile .userDetails p {
    color: var(--text-secondary);
}

.sidebarAtLeft .sidebarOptions {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--border-light);
}

.sidebarAtLeft .sidebarOptions button {
    width: calc(100% - 48px);
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px;
    text-align: left;
    background-color: transparent;
    border: none;
    border-radius: 8px;
}

.sidebarAtLeft .sidebarOptions button i,
.sidebarAtLeft .sidebarOptions button span {
    color: var(--text-primary);
}

.sidebarAtLeft .sidebarOptions .activeBtn {
    animation: reveal 0.15s ease-out 0s 1 forwards;
}

.sidebarAtLeft .sidebarOptions .activeBtn i,
.sidebarAtLeft .sidebarOptions .activeBtn span {
    animation: text-reveal 0.15s ease-out 0s 1 forwards;
}

.sidebarAtLeft .openSidebar {
    display: none;
}

.sidebarAtLeft .sidebarUtils {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 24px;
}

.sidebarAtLeft .sidebarUtils button {
    width: calc(100% - 48px);
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 8px;
    text-align: left;
    background-color: transparent;
    border: none;
}

.sidebarAtLeft .sidebarUtils .settings i,
.sidebarAtLeft .sidebarUtils .settings span {
    color: var(--text-primary);
}

.sidebarUtils .logout i,
.sidebarUtils .logout span {
    color: var(--danger);
}

/* Sidebar at top */
.sidebarAtTop {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: static;
    top: 0px;
    left: 0px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--bg-light);
    border-bottom: 1px solid var(--border-light);
    width: calc(100% - 32px);
}

.sidebarAtTop .userProfile {
    height: auto;
    width: calc(100% - 16px);
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    cursor: pointer;
}

.sidebarAtTop .userProfile .logo {
    height: 48px;
    width: 48px;
    background-color: var(--bg-lighter);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    color: var(--text-secondary);
    border: 1px solid var(--border-light);
}

.sidebarAtTop .userProfile .userDetails {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.sidebarAtTop .userProfile .userDetails h4 {
    font-size: 0.85em;
    color: var(--text-primary);
    letter-spacing: 0.25px;
}

.sidebarAtTop .userProfile .userDetails p {
    color: var(--text-secondary);
}

.sidebarAtTop .userProfile .logo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.sidebarAtTop .sidebarUtils {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
}

.sidebarAtTop .sidebarUtils button {
    background-color: transparent;
    border: none;
}

.sidebarAtTop .sidebarUtils .utilsBtn i,
.sidebarAtTop .sidebarUtils .settings i {
    color: var(--text-primary);
}

.sidebarAtLeftMin {
    display: none;
}

.backDrop {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
}

/* Media Queries */
@media (max-width: 830px) {
    .sidebarAtLeft {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 20rem;
        transform: translateX(-100%);
        transition: transform 0.25s ease;
        z-index: 50;
        background-color: var(--bg-light);
    }

    .sidebarAtLeft.sidebarOpenedLeft {
        transform: translateX(0);
    }

    .sidebarAtLeftMin {
        height: 100dvh;
        width: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: var(--bg-light);
        outline: 1px solid var(--border-light);
        position: static;
        top: 0px;
        left: 0px;
    }

    .sidebarAtLeftMin .userProfile {
        height: auto;
        width: calc(100% - 16px);
        padding: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--border-light);
        cursor: pointer;
    }

    .sidebarAtLeftMin .userProfile .logo {
        height: 48px;
        width: 48px;
        background-color: var(--bg-lighter);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75em;
        color: var(--text-secondary);
        border: 1px solid var(--border-light);
    }

    .sidebarAtLeftMin .userProfile .logo img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

    .sidebarAtLeftMin .userProfile .userDetails {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .sidebarAtLeftMin .sidebarOptions {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid var(--border-light);
    }

    .sidebarAtLeftMin .sidebarOptions button {
        width: calc(100% - 32px);
        margin-top: 16px;
        margin-left: 8px;
        margin-right: 8px;
        padding: 8px;
        text-align: left;
        background-color: transparent;
        border: none;
        border-radius: 50%;
    }

    .sidebarAtLeftMin .sidebarOptions button i {
        color: var(--text-primary);
    }

    .sidebarAtLeftMin .sidebarOptions .activeBtn {
        outline: 1px solid var(--primary);
    }

    .sidebarAtLeftMin .sidebarOptions .activeBtn i {
        color: var(--primary);
    }

    .sidebarAtLeftMin .sidebarUtils {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        margin-bottom: 16px;
        gap: 24px;
    }

    .sidebarAtLeftMin .sidebarUtils button {
        width: calc(100% - 32px);
        padding-left: 8px;
        padding-right: 8px;
        margin-left: 8px;
        margin-right: 8px;
        border-radius: 50%;
        text-align: left;
        background-color: transparent;
        border: none;
    }

    .sidebarAtLeftMin .sidebarUtils .settings i {
        color: var(--text-primary);
    }

    .sidebarAtLeftMin .sidebarUtils .logout i {
        color: var(--danger);
    }
}

@media (max-width: 560px) {
    .sidebarAtLeft {
        position: fixed;
        top: 0;
        left: 0;
        height: 100dvh;
        width: 18rem;
        transform: translateX(-100%);
        transition: transform 0.25s ease;
        z-index: 10000;
        background-color: var(--bg-light);
        display: flex;
    }

    .sidebarAtLeftMin {
        display: none;
    }

    .sidebarAtTop {
        display: flex;
    }
}