body{
	margin: 0;
	padding: 0;
	background-color: var(--bg);
	letter-spacing: 0.3px;
}

*{
	font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
	margin: 0;
	padding: 0;
    width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--card-bg);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
	margin: 0;
	padding: 0;
    background: transparent;
}

.bufferDiv{
	height: 50px;
	width: 100%;
}

h1{
	font-size: 1.5em;
	margin: 1px;
	color: var(--text-primary);
}

h2{
	font-size: 1.15em;
	margin: 1px;
	color: var(--text-primary);
}

h3{
	font-size: 0.9em;
	margin: 0px;
	color: var(--text-primary);
	opacity: 0.9;
}

h4{
	font-size: 0.9em;
	margin: 0;
	color: var(--text-primary);
	opacity: 0.85;
}

h5{
	font-size: 0.8em;
}

p{
	padding: 0;
	margin: 0;
	font-size: 0.76em;
}

a{
	color: var(--accent);
}

button{
	cursor: pointer;
} button *{
	color: var(--button-text);
}

.utilBtn{
	padding: 8px;
    background-color: var(--accent);
    color: var(--button-text);
    border-radius: 8px;
    border: none;
}

/* File type based styles */
.image{
    background-color: var(--image-icon-bg);
}

.presentation{
    background-color: var(--ppt-icon-bg);
}

.spreadsheet{
    background-color: var(--spr-icon-bg);
}

.word{
    background-color: var(--word-icon-bg);
}

.audio{
    background-color: var(--audio-icon-bg);
}

.video{
    background-color: var(--video-icon-bg);
}

.pdf{
    background-color: var(--pdf-icon-bg);
}

.csv{
    background-color: var(--csv-icon-bg);
}

.text{
    background-color: var(--text-icon-bg);
}