/* Base div */
.viewRoom {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Module level h5 style */
h5 {
    margin: 0;
    color: var(--text-secondary);
}

/* Sibling of sidebar */
.roomInfo {
    flex: 1;
    max-height: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 24px;
    padding-left: 8px;
    padding-right: 8px;

    overflow-y: auto;
    overflow-x: hidden;
}

/* Header part of the roomInfo (contains back button) */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    width: calc(100% - 32px);
    background-color: var(--bg);
}

.backBtn {
    background-color: transparent;
    border: none;
    width: auto;
    height: 100%;
    cursor: pointer;
}

.backBtn i,
.backBtn span {
    color: #ff5f5f;
}

/* Remaining content inside roomInfo */
.roomDisplay {
    width: calc(100% - 48px);
    height: auto;
    max-width: 800px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;

    border-bottom: 1px solid var(--border-light);
}

.roomDisplay>h1{
    margin-bottom: 8px;
}

/* Room icon */
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    border: 1px solid var(--border-light);
    height: 168px;
    width: 168px;
    border-radius: 50%;
    border: 1px solid var(--border-light);
    background: linear-gradient(112deg, var(--bg-lighter), var(--bg), var(--bg-lighter));
}

.icon img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/* Other stuff wrapper */
.wrappersWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    margin-top: 16px;
}

/* Wrapper for roo display */
.displayWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

/* Room info */
.otherInfo {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
}

.otherInfo>h5>span>i {
    color: var(--accent);
    cursor: pointer;
}

.otherInfo2 {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

/* Buttons Container */
.roomButtons{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: auto;
}

/* Open Button */
.openBtn{
    padding: 10px;
    background-color: var(--primary-bg);
    outline: none;
    border: 1px solid var(--border);
    border-radius: 8px;
}

.openBtn>i{
    color: var(--primary);
    font-size: 1.1em;
}

/* Join Button */
.joinBtnn{
    padding: 10px;
    background-color: var(--primary-bg);
    outline: none;
    border: 1px solid var(--border);
    border-radius: 8px;
    color: var(--text-primary);
}

.joinBtnn>i{
    color: var(--primary);
    font-size: 1.1em;
}

.editRoom{
    padding: 10px;
    background-color: var(--primary-bg);
    outline: none;
    border: 1px solid var(--border);
    border-radius: 8px;
}

.editRoom>i{
    color: var(--primary);
    font-size: 1.1em;
}

/* Leave Button */
.leaveBtn {
    padding: 10px;
    background-color: var(--danger-light-bg);
    border: 1px solid var(--border);
    outline: none;
    border-radius: 8px;
}

.leaveBtn>i{
    font-size: 1.1em;
    color: var(--danger);
}

/* COntainer of About */
.roomDetails {
    width: 100%;
    height: auto;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    padding-bottom: 16px;

    border-bottom: 1px solid var(--border-light);
}

.roomDesc {
    background-color: var(--bg-light);
    border-radius: 16px;
    border: 1px solid var(--border-light);
    width: calc(100% - 50px);
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

.roomDesc>h3>i {
    color: var(--warning-light);
}

.members {
    margin-top: 8px;
    height: auto;
    width: 100%;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.members>h3 {
    margin-bottom: 12px;
    margin-left: 24px;
}

.members .member {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: calc(100% - 32px);
    max-width: 850px;
    padding: 6px;
    padding-left: 16px;
    padding-right: 16px;

    border: 1px solid var(--border-light);
    border-radius: 16px;
}

.member .adminTag {
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.adminTag .amAdmin {
    border-radius: 8px;
    background-color: var(--warning-bg);
    color: var(--warning-light);
    font-size: 12px;
    padding: 6px;
}

.members .member>img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.buffer {
    height: 200px;
}

/* Options on member tag */
.options>i{
    font-size: 0.9em;
    color: var(--text-secondary);
    cursor: pointer;
}

/* Room settings */
.roomSettings,
.adminProfile{
    height: 100dvh;
    width: 100dvw;
    z-index: 99;
    position: fixed;
    top: 0px;
    bottom: 0px;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

/* Media Queries */
@media (max-width: 560px) {
    .viewRoom {
        margin: 0;
        padding: 0;
        width: 100dvw;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .roomInfo{
        margin-right: 8px;
    }
}

@media (max-width: 480px){
    .wrappersWrapper{
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }
}