@keyframes slide-in{
    0%{
        transform: translate(50%, 0%);
        opacity: 0;
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

.dashboardMain{
    display: flex;
    flex-direction: row;
    height: 100dvh;
    width: 100dvw;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.body{
    flex: 1;
    height: calc(100% - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 0;

    animation: slide-in .4s ease-out 0s 1 forwards;
}

.header{
    height: auto;
    width: calc(100% - 16px);
    padding: 8px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
}

.body>hr{
    height: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    background-color: var(--border);
}

.chatspace{
    flex: 1;
    width: calc(100% - 24px);
    padding: 8px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow-y: auto;
}

.emojiBox{
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

@media (max-width: 560px){
    .dashboardMain{
        flex-direction: column;
    }

    .body{
        flex: 1;
        min-height: 0;
        width: 100%;
    }

    .header{
        margin-left: 32px;
        width: (100% - 48px);
    }
}