:root.NightLight{
    /* Core Theme Colors */
    --bg: #121417;
    --bg-light: #1c1f25;
    --bg-lighter: #1e2228;
    --card-bg: #2a2f36;

    /* Text Colors */
    --text-primary: #e8ecf2;
    --text-secondary: #9aa5b5;
    --button-text: #e0e3eb;

    /* Borders */
    --border: #3b4754;
    --border-light: #3b47548e;

    /* Theme Accents */
    --accent: #238dff;
    --primary: #137fec;

    /* Extra Colors (NEW Variables) */
    --primary-light: #f2f7ff;
    --primary-bg: #1a5f949f;

    --success: #2eb67d;
    --success-light: #65d0a1;

    --warning: #d08822;
    --warning-bg: #8a540793;
    --warning-light: #f8c97c;

    --danger: #d9534f;
    --danger-light: #e67b78;

    --shadow: rgba(0, 0, 0, 0.05);

    --icon-fg: #f5f5f5;
    --icon-surface-bg: #202124;
    --image-icon-bg: #4e4d4d;
    --ppt-icon-bg: #D24726;
    --spr-icon-bg: #217346;
    --word-icon-bg: #2B579A;
    --audio-icon-bg: #AF52DE;
    --video-icon-bg: #800080;
    --pdf-icon-bg: #E41F26;
    --csv-icon-bg: #0F9D58;
    --text-icon-bg: rgb(17, 165, 165);
    --file-icon-bg: #9E9E9E;
}