@keyframes rotate{
    0%{
        opacity: 0;
        transform: rotateX(-180deg);
    }
    100%{
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes pop-up {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%) rotateX(-180deg) scale(1.5);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0%) rotateX(0deg) scale(1);
    }
}

.alert{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    min-width: 240px;
    max-width: 310px;

    position: fixed;
    top: 0px;
    left: 50%;
    transform-origin: center center;
    
    background-color: var(--bg-lighter);
    color: var(--danger);

    margin-top: 16px;

    padding: 16px;
    border-radius: 8px;

    border: 1px solid var(--border-light);

    animation: pop-up 0.25s ease-out 0s forwards;
}

.alert>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: rotate 0.25s ease-out 0s forwards;
}

.alert>div>button{
    background-color: var(--danger-light-bg);
    border: none;
    outline: none;
    color: var(--danger);

    padding: 6px;
    padding-right: 8px;
    padding-left: 8px;
    margin: 0;

    border-radius: 8px;

    animation: rotate 0.25s ease-out 0s forwards;
}

.alert>p{
    color: var(--warning);
    font-size: .85em;
    letter-spacing: 1px;

    word-wrap: break-word;

    animation: rotate 0.25s ease-out 0s forwards;
}